#root{
    --primary-box-shadow : rgba(28, 28, 28, 0.08) 0px 2px 8px;
    --border-white : rgb(232, 232, 232);
    --primary-bg : rgb(255, 255, 255);
    --grey-color : #828282;
    --red-color : #ff7e8b;
    --light-grey-color : rgb(207,207,207);
    --inactive-text:#696969;
    --inactive-color: #f8f8f8;
    --filter-text: rgb(156, 156, 156);
    --heading-text: #1c1c1c;
    --red:#d92662;
    --blue:#256efe;
    --green:#267e3e;
}
